.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    @include sm{
        max-width: 540px;
    }
    @include md{
        max-width: 720px;
    }
    @include lg{
        max-width: 960px;
    }
    @include xl{
        max-width: 1140x;
    }
    @include xxl{
        max-width: 1320px;
    }
}